<span>
  <md-chip-list class="inline-block">
    <md-chip color="accent" selected="true">Field</md-chip>
    <md-chip *ngIf="repeating" color="warn" selected="true">Repeating</md-chip>
  </md-chip-list>
  <strong>
    {{ field.address }}
  </strong>
  {{ field.value }}
</span>
<div>
  <ul *ngIf="field.components && field.components.length > 0" class="component-list">
    <li *ngFor="let component of field.components">
        <app-hl7-component [component]="component"></app-hl7-component>
    </li>
  </ul>
</div>