.component-list {
    padding: 1rem 0 0 2rem;
    list-style: none;

    li {
        margin-bottom: 1rem;
    }
}

.inline-block {
    display: inline-block;
}

md-chip-list-wrapper {
    display: inline-block;
}