@import '~@angular/material/core/theming/all-theme';
@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

body {
    margin: 0;
}

app-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

app-play {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

section {
    padding: 2rem 3rem;
}

.full-width {
    width: 100%;
}

md-card-header {
    margin-left: -8px;

    .mat-card-title {
        font-size: 24px !important;
        font-weight: 400;
    }

    .mat-card-subtitle {
        font-size: 16px;
    }
}