<md-card>
  <md-card-header>
    <md-card-title>HL7 Message</md-card-title>
    <md-card-subtitle>Paste an HL7 message into the text area and click parse.</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <form (ngSubmit)="parseMessage()" #messageForm="ngForm" class="card-form">
      <md-input-container class="full-width">
        <textarea mdInput placeholder="HL7 Message" name="message" [(ngModel)]="input" rows="10"></textarea>
      </md-input-container>
      <md-card-actions>
        <button md-button type="button" (click)="clear()">CLEAR</button>
        <button md-raised-button type="submit" color="accent">PARSE</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
<div *ngFor="let segment of message.segments">
  <app-hl7-segment [segment]="segment"></app-hl7-segment>
</div>